form {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    color: #193669;
}

.input-titles {
    color: #193669;
    font-size: 25px;
    font-weight: 500;
}

button {
    margin: 10px;
}

input[type=text] {
    height: 40px;
    font-size: 20px;
}

/* input[type=date] {
    
} */
