@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.Footer {
    background-color: #BDE3FF;
}


.title {
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #BDE3FF;
    color: #193669;
    padding-top: 20px;
    font-size: 35px;
    font-weight: 500;
}

.location {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #193669;
    padding: 20px;
    margin: 5px;
    min-width: 170px;
}

.boxes {
    justify-content: space-evenly;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: black;
    background-color: #BDE3FF;
    margin: 0px auto;
}

.location-name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.phone-number {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}