@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.title {
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #BDE3FF;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
}

.location {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-color: #193669;
}

.boxes {
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: black;
    background-color: #BDE3FF;
}