@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.group-2215 {
  /* background-color: aqua; */
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

/* Media query for screens smaller than 768px */
@media (max-width: 950px) {
  .nav ul li {
    line-height: 70px; 
    font-size: 18px;
    display: none;
  }
}

/* Media query for screens smaller than 480px
@media (max-width: 480px) {
  
} */


.nav {
  /* background-color: aqua; */
  height: 100%;
  margin-left: auto;

}

.nav ul {
  height: 100%;
  list-style: none;
  margin: 0 auto; 
}

.nav ul li {
  float: right;
  color: rgba(4, 80, 161, 1);
  height: 100%;
  line-height: 90px; 
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
}

.nav ul li:hover {
  background: #2EC5B6;
  cursor: pointer; 
  transition: background .5s;  
}

#logo {
  margin-left: 10px;
  width: 80px;
  height: 80px;
}

#responsive-medicine {
  width: fit-content;
  color: rgba(4, 80, 161, 1);
  text-align: left;
  font-size: 45px;
  line-height: 133%;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
  margin-left: 10px;
}
