@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.group-2215 {
  background-color: aqua;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

button:hover {
  background-color: rgba(46, 197, 182, 1);
}

#logo {
  padding-left: 10px;
  width: 90px;
  height: 90px;
}

.responsive-medicine {
  width: 80%;
  color: rgba(4, 80, 161, 1);
  font-size: 48px;
  line-height: 133%;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: -0.91px;
}

button {
  color: rgb(0, 0, 0);
  height: 100%;
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}
